@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

body {
    background-color: teal;
    color: white;
}


h1 {
    font-size: 5em;
    padding-left: 25%;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
}

h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 3.5em;
    font-weight: bold;
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

input:nth-child(1),
input:nth-child(2),
input:nth-child(3) {
    width: 75%;
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    padding: 4% .5% 4% 1%;
    margin-top: 4%;



}

li {
    list-style: none;
    font-size: 3.5em;
    font-family: 'Josefin Slab', serif;
    padding: 3%;
    margin: 2% 0% 1% 0%;

}

li:nth-child(even) {
    background-color: white;
    color: black;

}

ul {
    padding: 0px;
}

input:nth-child(4) {

    position: absolute;
    bottom: 5%;
    right: 5%;
    font-family: 'Josefin Slab', serif;
    font-size: 6em;
    padding: 1%;
    

    background-color: white;
}

p {
    font-family: 'Josefin Slab', serif;
    color: white;
}

#totalListPrice {

    font-size: 6em;
    position: absolute;
    bottom: 0;
    left: 5%;
    padding: 1%;

}

#errorMessage {
    font-size: 3em;

}
