@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #4483c3;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    
}

li {
    list-style: none;
    
}

h1{
    color: #971518;
    font-weight: bolder;
    text-align: center;
    
}

#buttonParent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    
    font-size: 2em;
    color: white;
    font-weight: bolder;
}



.chosenRide{
    color: #971518;
}

#myInput{
    width: 90%;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
